<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Teuton Config Server</title>
    <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
    <h1>Teuton Config Server</h1>
    <p>Your settings have been sent:</p>

    <table>
      <thead><tr><th>Param</th><th>Value</th></tr></thead>
      <tbody>
      <% params.each do |key, value| %>
        <tr><td><%= key %></td><td><%= value %></td></tr>
      <% end %>
      </tbody>
    </table>

    <p>Thank you!</p>
</body>
