---
:global:
  :gateway_ip: 192.168.16.10
  :client1_username: sysadmingame
  :client1_protocol: telnet
  :server_username: root
  :server_domain: 'curso1617'
  :share1_group: piratas
  :share1_users: pirata1,pirata2,pirata3
  :share1_resource: barco
  :share1_perm: rwxrwx---
  :share2_group: soldados
  :share2_users: soldado1,soldado2,soldado3
  :share2_resource: castillo
  :share2_perm: rwxrwx---
  :share3_users: aldeano
  :share3_resource: aldea
  :share3_perm: rwxr-xr-x
:cases:
- :tt_members: David Vargas
  :id: "XX"
  :username: profesor
  :lastname: vargas
  :client1_password: sysadmingame
  :server_ip: 192.168.16.31
  :server_password: profesor
